@import "~bootstrap/scss/bootstrap";

.w-80{
    width: 80%;
}
.relative{
    position: relative;
}
.fix{
    position: absolute;
    top: 5%;
    left: 3%;
}
.opa{
    opacity: 0.7;
}
.sapore{
    font-size: 4.5rem;
}
.rosso{
    color: tomato;
}
.h-250{
    height: 250px;
}
